#tooltip {
    background-color: #333;
    opacity: 1;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    z-index: 1;
    max-width: 300px;
}

#tooltip[aria-hidden="false"] {
    opacity: 1;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top']>#arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
    left: -4px;
}

#tooltip {
    display: none;
}

#tooltip[data-show] {
    display: block;
}