__pycache__
stream
dashboard/pokebot-nds.exe
dashboard/ffmpeg.dll
dashboard/debug.log
dashboard/icudtl.dat
dashboard/resources.pak
dashboard/v8_context_snapshot.bin
dashboard/locales
build
logs/*
node_modules
out

.vscode
src-tauri