@font-face {
    font-family: pokemon;
    src: url('../components/pokemon-dp-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: pokemon;
    color: aliceblue;
    font-size: large;
}