@font-face {
    font-family: pokemon;
    src: url('../app/pokemon-dp-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: pokemon;
    color: aliceblue;
    font-size: large;
}

.pokemon {
    height: 100%;
    width: auto;
    background-color: black;
    background-image: url(giratina.gif);
    background-position: center;
    object-fit: f;
}