@font-face {
    font-family: pokemon;
    src: url('../app/pokemon-dp-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: pokemon;
}

.pokemon {
    min-height: 900px;
    width: auto;
    background-color: black;
    background-image: url(ezgif.com-resize.gif);
    background-position: center;

}

.transparent {
    background-color: rgba(37, 40, 44, 0.5);
}

h1 {
    font-family: pokemon;
}