* {
    font-size: small;
}

#shiny {
    background: rgb(61, 125, 164);
    background: linear-gradient(309deg, rgba(61, 125, 164, 1) 0%, rgba(48, 31, 149, 1) 100%);
}

.primo-phrase {
    text-transform: uppercase; 
    display: inline-block; 
    width: auto;
}

.iv {
    padding: 3px;
}

.up {
    color: rgb(242, 99, 123);
}

.down {
    color: rgb(82, 137, 248);
}

#warn-duplicate {
    display: inline-block;
}