* {
    font-size: small;
}

#shiny {
    background: linear-gradient(309deg, var(--dark-color) 0%, rgb(41, 87, 150) 100%);
}

.primo-phrase {
    text-transform: uppercase; 
    display: inline-block; 
    width: auto;
}

.iv {
    padding: 3px;
}

.up {
    color: rgb(242, 99, 123);
}

.down {
    color: rgb(82, 137, 248);
}

#warn-duplicate {
    display: inline-block;
}